extends layout 
 
block content 
  h1= title 
 
  - let foodid = toShow._id 
  - let food_name = toShow.name
  - let foodcolor = toShow.color 
  - let foodrating = toShow.rating 
   
  div.row(class='mb-2') 
    div.mr-1 ID is 
    div #{foodid} 
  - let actionid = "/resource/foods/" + foodid 
  form(id='FoodForm', action= actionid, method="PUT") 
    div.form-group 
        label.foodAttr(for='food_name') Food name 
        input#food_name(type='text', name='food_name', value= food_name ) 
    div.form-group 
        label.foodAttr(for='size') Food color 
        input#color(type='text', name='color', value= foodcolor ) 
    div.form-group 
        label.foodAttr(for='rating') Food rating 
        input#rating(type='number', name='rating', value= foodrating ) 
    input(type="submit") 
 
  script. 
    document.forms['FoodForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'PUT', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Update succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Update failed " + error ) 
      }); 
    }); 